<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <img src="/<%=src%>"/>
    <h2><%=id%>님 환영합니다!</h2>
    <h4>비밀번호: <%=pw%></h4>
    <h4>이름: <%=name%></h4>
    <h4>나이: <%=age%></h4>

</body>
</html>